/* 6 (0.375), 7 (0.4375), 8 (0.5), 9 (0.5625), 10 (0.625), 11 (0.6875), 12 (0.75), 14 (0.875),
   16 (1), 18 (1.125), 21 (1.3125), 24 (1.5), 36 (2.25), 48 (3), 60 (3.75), 72 (4.5)  px (em) */

html {
	background-color: #1A1A1A;
	text-align: center;
}

body {
	color: #ddd;
	font-size: 16px;
	line-height: 1.5; /* 24px */
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	margin: 48px auto;
	position: relative;
	width: 600px;
	text-rendering: optimizelegibility;
}

img {
/*	width: 360px;*/
	display: inline-block;
	margin: 1.5em 0;
}

h1 {
	font-size: 36px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 24px;
}

h2 {
	font-size: 24px;
}

a, a:visited, a:active {
	color: #ff3300;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
}

.cootiecatchers {
	position: relative;
  cursor: pointer;
}

p { color: #333; }

#answer {
	position: absolute;
	top: 120px;
	left: 120px;
	z-index: 255;
	width: 200px;
	font-size: 14px;
	font-weight: bold;
}

#answer p { color: #000; text-align: center; }

#answer p .avatar {
  margin: 0 auto 0.75em auto;
  padding: 0;
  display: block;
  height: 48px;
  width: 48px;
}

.step-1, .step-2, .step-3, .step-4 { display: none; }

.step-0 { width: 360px; }
.step-1 { width: 400px; }
.step-2 { width: 440px; margin-top: -20px; }
.step-3 { width: 480px; margin-right: -100px; }
.step-4 { width: 520px; }

.share-buttons {
	margin-top: 24px;
}

.twitter-share-button,
.facebook-share-button {
	vertical-align: bottom;
}